In [36]:
import sqlite3
import pandas as pd
import pathlib

DB_FILE = pathlib.Path('wind.ipynb').resolve().parent.joinpath("wind-data.db").resolve()

con = sqlite3.connect("wind-data.db")
sql_query = """SELECT name FROM sqlite_master  
            WHERE type='table';"""
cursor = con.cursor()
cursor.execute(sql_query)
print(cursor.fetchall())

[('Wind',)]

In [37]:
df = pd.read_sql_query("SELECT * FROM Wind",con)
df

       index    Direction      Speed  SpeedError
0          0   140.313453  22.527979    2.797670
1          1   136.104729  20.343867    0.475398
2          2   140.733317  18.138254    1.149379
3          3   145.669873  16.274534    0.230573
4          4   145.320640  13.206622    0.482230
...      ...          ...        ...         ...
86395  86395  1535.885676  10.892037    1.232578
86396  86396  1540.034147   6.137343    0.320307
86397  86397  1542.120675   8.586977    1.356016
86398  86398  1538.892465   9.900780    0.314597
86399  86399  1543.749966  11.964132    2.817982

[86400 rows x 4 columns]

In [38]:
df.describe()

              index     Direction         Speed    SpeedError
count  86400.000000  86400.000000  86400.000000  86400.000000
mean   43199.500000    395.759368     27.376628      2.397891
std    24941.675966    419.083760     12.946728      1.482097
min        0.000000   -261.954857      0.007658      0.000036
25%    21599.750000     92.974340     16.662654      1.186125
50%    43199.500000    297.423893     27.233948      2.277705
75%    64799.250000    591.057255     37.972190      3.464913
max    86399.000000   1605.848331     66.669587      8.981360

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86400 entries, 0 to 86399
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       86400 non-null  int64
 1   Direction   86400 non-null  float64
 2   Speed       86400 non-null  float64
 3   SpeedError  86400 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 2.6 MB

In [40]:
df.isnull().sum()

index         0
Direction     0
Speed         0
SpeedError    0
dtype: int64